[submodule "submodules/glfw"]
	path = Engine/submodules/glfw
	url = git@github.com:glfw/glfw.git
[submodule "submodules/imgui"]
	path = Engine/submodules/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "submodules/vulkan-loader"]
	path = Engine/submodules/vulkan-loader
	url = git@github.com:KhronosGroup/Vulkan-Loader.git
[submodule "submodules/vulkan-headers"]
	path = Engine/submodules/vulkan-headers
	url = git@github.com:KhronosGroup/Vulkan-Headers.git
[submodule "submodules/glm"]
	path = Engine/submodules/glm
	url = git@github.com:g-truc/glm.git
[submodule "Engine/submodules/tiny-gltf"]
	path = Engine/submodules/tiny-gltf
	url = https://github.com/syoyo/tinygltf
