[submodule "submodules/glfw"]
	path = submodules/glfw
	url = git@github.com:glfw/glfw.git
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "submodules/vulkan-loader"]
	path = submodules/vulkan-loader
	url = https://github.com/KhronosGroup/Vulkan-Loader
